<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <title>Windwolke news</title>   
  <meta name="description" content="">
  <meta name="author" content="">
    
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <link rel="icon" type="../image/png" href="favicon.png"> -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <style>
    a:link {
      color: black;
    }
    a:visited {
      color: gray;
    }
  </style>

</head>
<body>

  <div class="container-fluid">
    <div class="row">
      {{range .}}
        {{if .Doc}}
          {{with .Doc.Channel}}
            <div class="col-sm ml-1 mt-3 text-truncate">
              <h3 class="text-truncate">{{.Title}}</h3>
              {{range .Item}}
                <a target="_blank" class="small" href="{{.Link}}">{{.Title}}</a>
                -
                <small class="text-muted">{{.Description}}</small>
                <br>
              {{end}}
            </div>
          {{end}}
        {{else}}
        <div class="col-sm ml-1 mt-3 text-truncate">
          <h3 class="text-truncate">{{.TheFeed.Name}}</h3>
          {{.Err}}
        </div>
        {{end}}
      {{end}}
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
